/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #66a3bf
$textColor = #434143
$borderColor = #d1d2d3
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #81b4c9
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961